@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');



:root {
    --primary-color: #0cb18d;
    --primary-hover: #267061;
    --text-color: white;

}

.container {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    display: flexbox;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    background-color: white;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

li {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 6px;
    display: inline-flexbox;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.2s;
}

input {
    width: 25%;
    /* Ocupa a largura total do formulário */
    padding: 6px 8px;
    /* Espaço confortável para o texto */
    margin-bottom: 5px;
    /* Separação entre um campo e outro */

    /* Bordas e Fundo */
    border: 1.5px solid #e2e8f0;
    border-radius: 8px;
    background-color: #ffffff;

    /* Tipografia dentro do input */
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #1e293b;

    /* Suaviza as mudanças de cor */
    transition: all 0.2s ease;
    outline: none;
    /* Remove aquela borda azul feia padrão */
}

textarea {
    width: 50%;
    /* Ocupa a largura total do formulário */
    padding: 6px 8px;
    /* Espaço confortável para o texto */
    margin-bottom: 5px;
    /* Separação entre um campo e outro */

    /* Bordas e Fundo */
    border: 1.5px solid #e2e8f0;
    border-radius: 8px;
    background-color: #ffffff;
    display: block;

    /* Tipografia dentro do input */
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #1e293b;

    /* Suaviza as mudanças de cor */
    transition: all 0.2s ease;
    outline: none;
    /* Remove aquela borda azul feia padrão */
}


button {
    border-radius: 8px;
    cursor: pointer;
    color: var(--text-color);
    border: none;
    background-color: var(--primary-color);
    width: fit-content;
    padding: 8px 16px;
    margin: 10px;
    display: inline-table;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

button:hover {
    background-color: var(--primary-hover);
    /* Muda a cor */
    transform: translateY(-2px);
    /* Sobe levemente */
    box-shadow: 0 6px 15px rgba(79, 70, 229, 0.3);
    /* Sombra cresce e ganha cor */
    filter: brightness(1.1);
    /* Dá um brilho extra */
}

button:active {
    transform: translateY(0);
    /* Volta para a posição original */
    filter: brightness(0.9);
    /* Escurece levemente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}